body {
    font-family: Inknut Antiqua;
    margin: 0;
    padding: 0;
    background-color:#0a0a0a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    
    background-color: rgb(11, 11, 11)414;
    color: rgb(244, 240, 240)b0b;
    text-align: center;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    /* padding: 10px; */
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 20px;
    margin-top: 20px;
    
}

.logo {
    color: #FFF;
    text-align: left;
    text-shadow: -2px 4px 6px rgba(248, 247, 247, 0.25);
    font-family: Inknut Antiqua;
    font-size: 40px;
    padding-left: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo2 {
    color: #FFF;
    text-decoration: none;
}


.discussions {
    display: flex;
    width: 154px;
    height: 30px;
    padding-bottom: 10px;
    
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #f8f4f4;
    text-align: center;
    text-shadow: -4px 2px 3px rgba(249, 247, 247, 0.25);
    font-family: Inknut Antiqua;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.questions {
    display: flex;
    width: 154px;
    height: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #f8f4f4;
    text-align: center;
    text-shadow: -4px 2px 3px rgba(249, 247, 247, 0.25);
    font-family: Inknut Antiqua;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.guides{
    display: flex;
    width: 154px;
    height: 30px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #f8f4f4;
    text-align: center;
    text-shadow: -4px 2px 3px rgba(249, 247, 247, 0.25);
    font-family: Inknut Antiqua;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.categories {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    gap: 50px;

}

.profile {
    
    width: 50px;
    height: 50px;
    overflow: hidden; 
    border-radius: 50%;
    background-color: rgb(246, 244, 244);
}

.line {
    background-color: #ffffff;
    color: #0b0b0b;
    padding: 5px;
    height: 0px;
}

#profileButton {
    background-color: #000000;
    color: #000000;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden; 
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px; 
    right: 10px;
}

#profileButton img {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
}

#profileButton:hover {
    background: radial-gradient(circle at center, transparent 0%, #000 80%), linear-gradient(to bottom, #fff, #000);

}

.floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: -2px 4px 6px rgba(255, 255, 255, 0.25);
    font-family: Inknut Antiqua;
    font-size: 32px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.floating-button:hover {
    background: radial-gradient(circle at center, transparent 0%, #000 80%), linear-gradient(to bottom, #fff, #000);
}